<div class="container" *ngIf="recipe!=undefined">
  <div class="row mt-5 ">
    <div class="col">
      <h1 >
        {{recipe.name}}
      </h1>
      <h3>Auteur: {{recipe.author}}</h3>
    </div>
    <div class="col-auto align-self-center">
      <button class="btn btn-outline-primary btn-lg mx-2" routerLink="/maj/{{recipe.id}}">

          <svg id="" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#0d6efd"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
      </button>
      <button class="btn btn-outline-danger btn-lg  mx-2" (click)="delete()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#dc3545"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
      </button>

    </div>
  </div>


  <div class="form-floating">
    <input class="form-control" type="number" min="0" id="floatingInput3" [formControl]="nbCouvert" placeholder="Nombre de couvert"/>
    <label for="floatingInput3">Nombre de couvert</label>
  </div>

  <mat-stepper orientation="vertical" linear="false" #stepper>
    <ng-container *ngFor="let stepable of recipe.step|keyvalue">
      <mat-step *ngFor="let step of stepable.value.getStep()">
        <ng-template matStepLabel>{{step.name}}</ng-template>
        <ng-template matStepperIcon="edit" let-index="index">
          {{index + 1}}
        </ng-template>
        <div class="row">
          <div class="col">
            <p><u>Description:</u> {{step.description}}</p>
            <p><u>Durée:</u> {{step.getTime()}}</p>
          </div>
          <div class="col">
            <app-table [ingredientMap]="step.ingredient" [nbTable]="nbCouvert.value"></app-table>
          </div>
        </div>

      </mat-step>
    </ng-container>
  </mat-stepper>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <div class="form-floating">
          <input class="form-control" type="number" min="0" id="floatingInput2" [max]="typeAssaisonement.value?'100':''" [formControl]="coutAssaisnment"
                 placeholder="Cout d'assainnoment"/>
          <label for="floatingInput2">Cout d'assainnoment (En {{typeAssaisonement.value?"%":"€"}})</label>
        </div>

      </div>
      <div class="col-auto align-self-center">
      <input class="form-check-input" type="radio" name="typeAssaisonement" [formControl]="typeAssaisonement"
             [value]="1"> %
      <input class="form-check-input" type="radio" name="typeAssaisonement" [formControl]="typeAssaisonement"
             [value]="0">€
    </div>
    </div>

  </div>
  <div class="mb-3">
    <div class="form-floating">
      <input class="form-control" type="number" min="0" id="floatingInput1" step="0.1" [formControl]="marge" placeholder="Marge (En %)"/>
      <label for="floatingInput1">Coeficient multiplicateur</label>
    </div>
  </div>
  <mat-slide-toggle [formControl]="chargeCost">Calculer Coût Charge</mat-slide-toggle>
  <table class="table">
    <thead>
    <th>Catégorie</th>
    <th>Résultat</th>
    </thead>
    <tbody>
    <tr>
      <td>Cout des ingrédients</td>
      <td>{{this.recipe.getCoutIngredient(nbCouvert.value)}}€</td>
    </tr>
    <tr>
      <td>Cout des assisonements</td>
      <td>{{this.convertNumber(this.typeAssaisonement?this.recipe.getCoutIngredient(nbCouvert.value)*this.coutAssaisnment.value/100:this.coutAssaisnment.value,2)}}€</td>
    </tr>
    <tr>
      <td>Cout matières</td>
      <td>{{getCoutMatiere()}}€</td>
    </tr>
    <tr>
      <td>Cout du personnel</td>
      <td>{{getCoutPersonnel().toFixed(2)}}€
      </td>
    </tr>
    <tr>
      <td>Cout des fluides</td>
      <td>{{getCoutFluide().toFixed(2)}}€
      </td>
    </tr>
    <tr>
      <td>Cout des Charges</td>
      <td>{{getCoutFluide()+getCoutPersonnel()}}€
      </td>
    </tr>
    <tr>
      <td>Cout de production</td>
      <td>{{(getCoutMatiere()+getCoutFluide()+getCoutPersonnel()).toFixed(2)}}€
      </td>
    </tr>
    <tr>
    <td>Prix de vente</td>
    <td>{{getVente().toFixed(2)}}€
    </td>
    </tr>
    <tr>
      <td>Prix Par portion</td>
      <td>{{(getVente()/nbCouvert.value).toFixed(2)}}€
      </td>
    </tr>
    <tr>
      <td>Bénéfice</td>
      <td>{{getBenefice().toFixed(2)}}€
      </td>
    </tr>
    <tr>
      <td>Bénéfice Par portion</td>
      <td>{{(getBenefice()/nbCouvert.value).toFixed(2)}}€
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Imprimé la recette</button>
  <mat-slide-toggle [formControl]="printCost">{{printCost.value?"avec les coûts":"sans les coûts"}}</mat-slide-toggle>
  <button class="btn btn-primary">Enregistré la vente</button>
</div>
<app-modal-modify-constant (newData)="changeCost($event)" id="constant" class="modal fade" role="dialog" tabindex="-1"></app-modal-modify-constant>
