.container:active>div div .number {
  background-color: #3f51b5;

}
.handle {
  color: #ccc;
  cursor: move;
}

.number{
  background-color: #0000008a;
  color: #fff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  flex-shrink: 0;
  position: relative;
}
.center-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line-vertical{
  border-left: #6f7a85 solid 1px;
  height: fit-content;
  min-height: 20px;
  margin-left:calc(var(--bs-gutter-x) * .5 + 60px);
}
.form{
  padding-left: 10%;
  padding-right: 10%;
}
select{

}
