

<button class="btn btn-primary" type="button" data-bs-target="#creerEtape" data-bs-toggle="modal">Creer une étape</button>
<form style="padding: 12px;"><input class="form-control" type="text" placeholder="Nom" /><input class="form-control" type="text" placeholder="Description" /><input class="form-control" type="number" placeholder="Durée de l&#39;étape (en minute)" />
  <div class="row" >
    <div class="col">
      <select class="form-select" >

          <ng-container >
            <option  ></option>
          </ng-container>

      </select>
    </div>
    <div class="col">
      <input class="form-control" type="text" placeholder="Quantité" />
    </div>
    <div class="col">
      <button class="btn btn-outline-danger"  type="button">
        Supprimer
      </button>

    </div>
  </div>
  <div class="row">
    <div class="col text-center"><button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Ajouter un ingrédient</button></div>
  </div>
</form>
<app-modal-create-step id="creerEtape" [ingredientDonne]="ingredient" class="modal fade" role="dialog" tabindex="-1" ></app-modal-create-step>
<app-modal-create-ingredient id="creerIngredient" class="modal fade" role="dialog" tabindex="-1" (newIngredient)="createIngredient($event)"></app-modal-create-ingredient>


