<section>
  <div class="container justify-content-xxl-center">
    <div class="row mt-5 mb-3">
      <div class="col mx-3">
        <button class="btn btn-primary " type="button" data-bs-target="#creerIngredient" data-bs-toggle="modal">Créer un
          ingrédient
        </button>
      </div>
      <div class="col-auto mx-3">
        <button class="btn btn-primary " type="button" data-bs-target="#creerIcategory" data-bs-toggle="modal">Créer une
          Catégorie
        </button>
        <button class="btn btn-outline-primary mx-1"   *ngIf="!editMode"  (click)="editMode=!editMode">
          <svg id="" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
               fill="#0d6efd">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path
              d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          </svg>
        </button>
        <button class="btn btn-outline-danger mx-1" *ngIf="editMode" (click)="editMode=!editMode">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#dc3545"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
        </button>
      </div>
    </div>
    <div id="accordion-1" class="accordion" role="tablist">
      <ng-container *ngFor="let item of category">
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab">
            <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion-1 .item-'+item.id" aria-expanded="false"
                    [attr.aria-controls]="'accordion-1 .item-'+item.id">
              <ng-container *ngIf="editMode">
              <button class="btn btn-outline-primary btn-sm mx-1" data-bs-target="#updateCategory" data-bs-toggle="modal" (click)="updateCategory(item)">
                <svg id="" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                     fill="#0d6efd">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path
                    d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                </svg>
              </button>
              <button class="btn btn-outline-danger btn-sm mx-1" (click)="deleteCategory(item)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                     fill="#dc3545">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                </svg>
              </button>
            </ng-container>
              {{item.name}}
            </button>
          </h2>
          <div [attr.class]="'accordion-collapse collapse item-'+item.id" role="tabpanel">
            <div class="accordion-body">
              <div>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Prix à l'unité</th>
                    <th scope="col">Unité</th>
                    <th scope="col">Stocks</th>
                    <th scope="col">Allergène</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item2 of ingredient" [@outIngredient]="item.id==item2.id_category?'in':'out'">
                    <td *ngIf="item.id==item2.id_category">{{item2.name}}</td>
                    <td *ngIf="item.id==item2.id_category">{{item2.unit_price}} €</td>
                    <td *ngIf="item.id==item2.id_category">{{item2.unit}}</td>
                    <td *ngIf="item.id==item2.id_category">{{item2.stock}}</td>
                    <td *ngIf="item.id==item2.id_category">
                      <mat-icon *ngIf="item2.allergen!=undefined" matTooltip="{{item2.allergen.name}}"><img
                        alt="Allergen Icon" height="38" [src]="item2.allergen.url"/></mat-icon>
                      <ng-container *ngIf="item2.allergen==undefined">Pas d'allergène</ng-container>
                    </td>
                    <td *ngIf="item.id==item2.id_category">
                      <button class="btn btn-outline-primary mx-1" data-bs-target="#updateIngredient" data-bs-toggle="modal"
                              (click)="updateIngredient(item2)">
                        <svg id="" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                             fill="#0d6efd">
                          <path d="M0 0h24v24H0z" fill="none"/>
                          <path
                            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                        </svg>
                      </button>
                      <button class="btn btn-outline-danger mx-1" (click)="delete(item2)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                             fill="#dc3545">
                          <path d="M0 0h24v24H0z" fill="none"/>
                          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </ng-container>

    </div>
  </div>
</section>

<app-modal-create-ingredient id="creerIngredient" class="modal fade" role="dialog" tabindex="-1" [category]="category"
                             (newIngredient)="addIngredient($event)"></app-modal-create-ingredient>
<app-modal-create-category type="Ingrédient" id="creerIcategory" class="modal fade" role="dialog" tabindex="-1"
                           (newCategory)="addCategory($event)"></app-modal-create-category>


<app-modal-create-ingredient id="updateIngredient" [updateModal]="true" class="modal fade" role="dialog" tabindex="-1"
                             [inputIngredient]="selectedIngredient" [category]="category"
                             (newIngredient)="updateEmitIngredient($event)"></app-modal-create-ingredient>
<app-modal-create-category type="Ingrédient" id="updateCategory" [updateModal]="true" class="modal fade" role="dialog" tabindex="-1"
                           [inputCategory]="this.selectedCategory" (newCategory)="updateEmitCategory($event)"></app-modal-create-category>



