
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Créer un Ingrédient</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

      <form [formGroup]="form" (ngSubmit)="validate()">
        <div class="modal-body">
        <input class="form-control" type="text" formControlName="name"  placeholder="Nom" />
        <input class="form-control" type="text" formControlName="unit" placeholder="Unité" />
        <input class="form-control" type="number" formControlName="unit_price" placeholder="Prix à l&#39;unité"  />
        <select class="form-select" formControlName="id"  >
          <option value="" disabled selected>Catégorie</option>
          <option *ngFor="let item of category"  [ngValue]="item.id" >{{item.name}}</option>
        </select>
        </div>
        <div class="modal-footer"><button class="btn btn-primary" type="submit">Créer</button></div>
      </form>
  </div>
</div>

<app-alert style="opacity: 0;" [@animation]="active?'show':'hidden'" [text]="text" [etat]="etat"></app-alert>

